/* Page styles */
* {

}

header {
  font-family: 'Oleo Script', cursive;
}

main {
  display: flex;
  justify-content: space-around;
}

section {
  border: 1px solid black;
}

button {
  color: white;
  background-color: #4C88FF;
  width: 32%;
  box-shadow: 5px 5px 10px 0px #1F2D57;
  border: 1px solid white;
}
