/* Page wide styles */
body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #d4fcff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oleo Script', cursive;
  text-decoration: underline;
  font-size: 2em;
  height: 3.5em;
  width: 100%;
  background-color: #1F2D57;
  color: #6FE0E7;
}

main {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
}

footer {
  width: 100%;
  height: 3em;
  background-color: #a7b1c5;
  display: flex;
  justify-content: center;
  align-items: center
}

button {
width: 46%;
margin: 5px;
height: 2.5em;
box-shadow: 5px 5px 10px 0px #1F2D57;
border: 1px solid white;
color: white;
background-color: #4C88FF;
}

button:hover {
  background-color: #1F2D57;
  color: #6FE0E7;
}

button:active {
  transform: translateY(5px);
}

.selected {
  background-color: #1F2D57;
  color: #6FE0E7;
  outline: none;
}

/*Columns*/
section {
padding: 10px;
margin: 13px;
width: 30%;
box-sizing: border-box;
}

/* column 1 */
.col1-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 2px solid black;
}

.col1-headers{
  margin-bottom: 5px;
}

section.col1,
section.col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Columnn 2 */
.col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

img.bear-items {
  width: 96%;
  padding-top: 5em;
  border: 2mm ridge #6FE0E7;
  background-color: white;
}

.col2-inputs{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.col2 input {
  align-self: center;
  width: 70%;
  height: 2.5em;
}

.col2 button {
  align-self: center;
}

/* Bear Items Images */
.top-hat {
width: 5em;
height: 5em;
position: absolute;
top: 5em;
left: 14em;
transform: rotate(21deg);
display: none;
}

.sun-hat {
  width: 15em;
  height: 15em;
  position: absolute;
  top: 2.5em;
  left: 7em;
  transform: scaleX(-1.1) rotate(-51deg);
  display: none;
}

.space-helmet {
  width: 12em;
  height: 12em;
  position: absolute;
  top: 8em;
  left: 8.3em;
  transform: rotate(14deg);
  display: none;
}

.hair-bow {
  width: 9em;
  height: 5em;
  position: absolute;
  top: 8em;
  left: 11.5em;
  transform: rotate(19deg);
  display: none;
}

.crown {
  width: 5em;
  height: 5em;
  position: absolute;
  top: 6em;
  left: 13em;
  display: none;
  transform: rotate(17deg);
}

/* Column 3 */
.outfit-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.outfit {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  padding: 1em;
  width: 17em;
  border-radius: .5em;
  box-shadow: 5px 5px 10px 0px #1F2D57;
}

.close-button {
  width: .75em;
  display: flex;
  justify-content: flex-end;
}

/* Footer content */
.footer-button {
  width: 20%;
  height: 2em
}
