* {

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oleo Script', cursive;
  text-decoration: underline;
  font-size: 2em;
  height: 3.5em;
  width: 100%;
  background-color: #1F2D57;
  color: #4C88FF;
}

main {
  display: flex;
  justify-content: space-around;
}
